<h2>Om Angular</h2>

<p>Jag har skapat tre sidor i angular.  De olika sidorna och menyn är uppdelade i olika komponenter.  
    En där jag konverterar 
    värden med hjälp av funktioner som räknar fram ett resultat. 
    Exempelvis om jag ska ändra fot till meter så finns det en funktion 
    som anroppas via klick och så visas ett resultat för detta på skärmen.
    Tyckte detta var effelrtivt att göra då man kan anropa funktionen direkt i 
    html, exempelvis (click) = function. 
    Sedan har jag en startsida med en bild som var lätt att infoga.
   

    Det är bra att varje komponent har sin egen css-fil och att man har en allmän. Det märks framförallt på huvudmenyn. 
    
    Jag tycker Angular verkar vara effektivt att använda.
</p>
